.filtersBar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;

  .filterItem {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}
