.filtersBar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-evenly;
  padding: 16px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;

  .filterItem {
    flex: 1;
    margin-right: 8px;
    width: 300px !important;
  }

  .clearIcon {
    cursor: pointer;
  }
}
